/* main.css */
/* Import all CSS files from the 'separated' folder in correct order */
@import url('separated/variables.css');
@import url('separated/base.css');
@import url('separated/layout.css');
@import url('separated/typography.css');
@import url('separated/components.css');
@import url('separated/tasks.css');
@import url('separated/animations.css');
@import url('separated/utilities.css');
@import url('separated/sidebar.css');
@import url('edit-sidebar.css');
